<div id="capsuleCreation">
    <label>Message<textarea name="message" id="message" autofocus></textarea></label>
    <input type="text" name="openingTime" id="openingTime" required />
    <input type="submit" id="createButton" />
</div>